# IDEs
.idea/
.vscode/
*.swp
*.swo

# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
.env
.env.local

# Python
.venv/
venv/
__pycache__/
*.pyc
build/
dist/
*.spec

# Rust / Tauri
src-tauri/target/
src-tauri/binaries/*
# Keep the directory but ignore the generated binaries
!src-tauri/binaries/.gitkeep

# OS specific
.DS_Store
Thumbs.db